.CreateRecipePage {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.header-footer {
    font-size: 44px;
    margin: 20px 20px;
}