.jumbotron {
    background-color:rgb(39,39,39, 0.2);

    color: white;
}

h1 {
    font-size: 75px;
}

.jumbotron.p {
    font-size: 75px;
}

.con-head {
    background: url('../../images/kitchen-blue.svg');
    background-repeat: no-repeat;
    background-size: 100%;
}

.col-small {
    padding: 15px;
    display: flex;
    flex-direction:  column;
    justify-content: center;
}

.col-small-user {
    padding: 15px;
    display: flex;
    justify-content: center;
}

.btn {
    padding: 10px 50px;

}

.userName {
    font-size: 46px;
}

.join-btn {
    background: white;
    text-decoration: none;
    color: #17a2b8!important;
}

.a {
    color: #17a2b8;
    text-decoration: none;
}

a:hover {
    color: #0056b3;
    text-decoration: none;
}

