.col-small {
    padding: 15px;
    display: flex;
    flex-direction:  column;
    justify-content: center;
}

.col-small-user {
    padding: 15px;
    display: flex;
    justify-content: center;
}

.btn {
    padding: 10px 50px;
}

.col-small a {
    color: white;
    font-weight: 800;
}

.userName {
    font-size: 46px;
}
