nav a {
  color: #17a2b8;
  font-weight: 700px;
  font-size: 26px;

}

nav a:hover {
  text-decoration: none;
}

@media (max-width: 576px) {
  .navbar {
  
  }

  .navbar a {
    font-size: 18px;
  }
}